<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Nome:<input type="text" name="nome" value="<%= doc.nome %>" /></p>
      <p>Sinopse:<input type="text" name="sinopse" value="<%= doc.sinopse %>" /></p>
      <p>Duração:<input type="number" name="duracao" value="<%= doc.duracao %>" /></p>
      <p>Data de Lançamento:<input type="text" name="data" value="<%= doc.data %>" /></p>
      <p>Imagem:<input type="text" name="imagem" value="<%= doc.imagem %>" /></p>
      <p>Categorias:<input type="text" name="categorias" value="<%= doc.categorias %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>